#plusupcp .u-unit {
  max-width: 800px;
  margin: 0 auto;
  border: 5px solid #FFCFA4;
  padding: 50px 30px 25px 30px;
  position: relative;
  background: #fff;
}
@media screen and (max-width: 766px) {
  #plusupcp .u-unit {
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid #FFCFA4;
    padding: 1rem 1rem;
    position: relative;
    background: #fff;
  }
}

#plusupcp .u-detail {
  background-color: #FFEEDF;
  padding: 15px 30px;
}
@media screen and (max-width: 766px) {
  #plusupcp .u-detail {
    padding: 15px;
  }
}

#plusupcp .cp__list-term {
  font-size: 20px;
  font-weight: 700;
  width: 50%;
  text-align: center;
  padding: 23px 0;
  color: #fff;
  border-right: 1px solid #ff4033;
  background: #FF4033;
  position: relative;
}
.cp__list-term:after {
  display: none;
}
#plusupcp .cp__list-desc {
  font-size: 24px;
  font-weight: 700;
  color: #ff4033;
  width: 50%;
  text-align: center;
}
#plusupcp .cp__list-desc span {
  font-size: 15px;

}
#plusupcp .cp__list-top {
  background-color: #ff4033;
}
#plusupcp .cp__list-top .cp__list-desc {
  color: #fff;
}

#plusupcp .cp__text .em {
  color: #333;
}





#plusupcp .lead__lp::after {
  display: none;
}
#plusupcp .lead__lp::before {
  display: none;
}

#plusupcp .lead__lp {
  position: relative;
  text-align: center;
  padding: 3rem 0 0rem;
  margin-bottom: 0;
  background: #ffd3ab;
  background: -moz-linear-gradient(bottom, #fff 0%, #ffd3ab 100%);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fff),
    to(#ffd3ab)
  );
  background: -webkit-linear-gradient(bottom, #fff 0%, #ffd3ab 100%);
  background: -o-linear-gradient(bottom, #fff 0%, #ffd3ab 100%);
  background: linear-gradient(to top, #fff 0%, #ffd3ab 100%);
}
#plusupcp .lead__title-wrap {
    position: relative;
    background-image: url(../img/lp2/title-en.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 62%;
}

#plusupcp .lead__title-wrap::after {
  content: '';
  position: absolute;
  background-image: url(../img/lp2/character1.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0%;
  left: 6%;
  width: 140px;
  height: 172px;
  z-index: 0;
}
#plusupcp .lead__title-wrap::before {
  content: '';
  position: absolute;
  background-image: url(../img/lp2/character2.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0%;
  right: 6%;
  width: 140px;
  height: 172px;
  z-index: 0;
}
@media screen and (max-width: 766px) {
  #plusupcp .lead__lp {
    padding: 1rem 0 8rem;
  }
  #plusupcp .lead__title-wrap::before {
    display: none;
  }
  .lead__title-wrap {
    padding: 10px 0 15px;
    margin-bottom: 0;
  }
}

#plusupcp .lead__area-copy {
  font-weight: 700;
}
#plusupcp .lead__title img {
  width: auto;
  height: 42px;
}
@media screen and (max-width: 766px) {
  .lead__area-copy {
    font-size: 17px;
    margin-bottom: 0;
  }
  #plusupcp .lead__title-wrap::after {
    background-image: url(../img/lp2/chara-pair.png);
    background-position: center center;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 120px;
  }
  #plusupcp .lead__title {
    width: 90%;
    margin: 0 auto;
  }
  #plusupcp .lead__title img {
    width: auto;
    height: auto;
  }
}

#plusupcp .wrapper-lead {
  margin-bottom: 3rem;
}
@media screen and (max-width: 766px){
  #plusupcp .wrapper-lead {
      margin-bottom: 3rem;
  }
}
@media screen and (max-width: 766px){
  .conts {
    margin: 0 0 1.5rem 0;
  }
}


#plusupcp .cp__list2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

#plusupcp .cp__list2 .cp__list-inner + .cp__list-inner {
  margin-top: 0px;
}

#plusupcp .cp__list2 .cp__list-term {
  width: 40%;
  height: 100%;
  display:flex; flex-direction:column; justify-content:center; align-items:center;
}
#plusupcp .cp__list2 .cp__list-desc {
  width: 60%;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 1 / 2 / 2 / 3; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 3 / 2 / 5 / 3; }

@media screen and (max-width: 980px) {
  #plusupcp .cp__list2 .cp__list-term {
    font-size: 18px;
  }
  #plusupcp .cp__list2 .cp__list-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 766px) {
  #plusupcp .cp__list2 {
    display: block;
  }
  #plusupcp .cp__list2 .cp__list-term {
    width: 50%;
  }
  #plusupcp .cp__list2 .cp__list-desc {
    width: 50%;
  }
  #plusupcp .cp__list2 .cp__list-inner + .cp__list-inner {
    margin-top: 10px;
  }
}
@media screen and (max-width: 766px) {
  #plusupcp .cp__list-term {
    font-size: 13px;
    padding: 16px 0;
  }
  #plusupcp .cp__list-desc {
    font-size: 16px;
  }
  #plusupcp .cp__list-desc span {
    margin-top: 4px;
    display: block;
    font-size: 12px;
  }
}



.cp_example {
  background: #FFEEDF;
  padding: 2rem;
}
.cp_example + .cp_example {
  margin-top: 1rem;
}
.cp_example h2 {
  font-size: 15px;
  font-weight: 700;
  background: url(../img/lp2/icon-men.svg) no-repeat left center;
  background-size: 52px;
  min-height: 52px;
  display:flex; flex-direction:column; justify-content:center;
  padding-left: 64px;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}
.cp_example h2 span {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
}
.cp_example_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cp_example_flex01 {
  font-weight: 700;
  font-size: 16px;
}
.cp_example_flex01 span {
  font-weight: 700;
  font-size: 20px;
}
.cp_example_flex02 {
  font-size: 18px;
  color: #FF4033;
  font-weight: 700;
}
.cp_example_flex03 {
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(transparent 50%, #ffff7f 50%);
}
.cp_example_flex03 span {
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 766px) {
  .cp_example {
    padding: 1rem;
  }
  .cp_example_flex {
    justify-content: start;
    gap: 1rem 1rem;
  }
  .cp_example_flex01 {
    font-size: 14px;
  }
  .cp_example_flex01 span {
    font-size: 18px;
  }
  .cp_example_flex02 {
    font-size: 16px;
  }
  .cp_example_flex03 {
    font-size: 14px;
  }
  .cp_example_flex03 span {
    font-size: 20px;
  }
}